/.idea/

/back/node_modules/
/back/.idea/
/back/.env
/back/package-lock.json
/back/pnpm-lock.yaml

/front/.idea/
/front/node_modules/
/front/package-lock.json
/front/.env
/front/dist
/front/dist-ssr
/front/*.local
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*